<h1>Pdf Convert Operations</h1>

<input type="file" (change)="FileUpload($event)"><br><br>


<button (click)="ConvertToPdf('ConvertToPdf')">Convert to PDF</button><br><br>
<button (click)="ConvertToPdf('ConvertHtmlToPdf')">Convert HtML to PDF</button><br><br>
<button (click)="ConvertToPdf('ConvertWordToPdf')">Convert Word to PDF</button><br><br>
<button (click)="ConvertToPdf('ConvertPptxToPdf')">Convert Pptx to PDF</button><br><br>
<button (click)="ConvertToPdf('ConvertExcelToPdf')">Convert Excel to PDF</button><br><br>
<button (click)="ConvertToPdf('ConvertImageToPdf')">Convert Image to PDF</button>